<.flash_group flash={@flash} />
<section class="p-4 gap-6">
  <ul class="grid grid-cols-2 gap-6">
    <WspomWeb.CardComponent.small_card href={~p"/"}
      img={~p"/images/home_64.png"} label="Go back to the home page" />
    <WspomWeb.CardComponent.card href={~p"/entries/view"} img={~p"/images/diary_64.png"}
      name="Today" info="Sep 27" label="Today" />
  </ul>
  <ul class="pt-3 grid grid-cols-2 gap-2 sm:grid-cols-3 lg:grid-cols-6">
    <WspomWeb.CardComponent.info_card name="Entries" info={@stats.entries} />
    <WspomWeb.CardComponent.info_card name="Important" info={@stats.important} />
    <WspomWeb.CardComponent.info_card name="Very Important" info={@stats.very_important} />
    <WspomWeb.CardComponent.info_card name="Needs Review" info={@stats.needs_review} />
    <WspomWeb.CardComponent.info_card name="Full Years" info={@stats.years} />
    <WspomWeb.CardComponent.info_card name="Days" info={@stats.days} />
    <WspomWeb.CardComponent.info_card name="Pages" info={@stats.pages} />
    <WspomWeb.CardComponent.info_card name="Tags" info={@stats.tags} />
    <WspomWeb.CardComponent.info_card name="Tagged entries" info={@stats.tagged} />
    <WspomWeb.CardComponent.info_card name="Cascades" info={@stats.cascades} />
  </ul>
  <ul class="pt-3 grid grid-cols-2 gap-2 sm:grid-cols-3 lg:grid-cols-6">
    <%= for {year, count} <- @stats.years_list do %>
      <WspomWeb.CardComponent.link_card name={year} info={"#{count} entries"} href={~p"/entries/view"} />
    <% end %>
  </ul>
  <p class="px-2 text-xs leading-2 m-8">
    Something goes here
  </p>
</section>