<.flash_group flash={@flash} />
<section class="p-4 gap-6">
  <ul class="grid grid-cols-1">
    <WspomWeb.CardComponent.card href={~p"/entries/view"} img={~p"/images/diary_64.png"}
      name="Today" info="Sep 27" label="Today" />
  </ul>
  <ul class="pt-3 grid grid-cols-2 gap-6 sm:grid-cols-3 lg:grid-cols-6">
    <WspomWeb.CardComponent.info_card name="Entries" info={@entries} />
    <WspomWeb.CardComponent.info_card name="Last on" info={@last_on} />
    <WspomWeb.CardComponent.info_card name="Days" info={@days} />
    <WspomWeb.CardComponent.info_card name="Years" info={@years} />
    <WspomWeb.CardComponent.info_card name="Tags" info={@tags} />
    <WspomWeb.CardComponent.info_card name="Tagged entries" info={@tagged} />
  </ul>
  <ul class="pt-3 grid grid-cols-2 gap-6 sm:grid-cols-3 lg:grid-cols-6">
    <WspomWeb.CardComponent.link_card name="pre-1992" info="x entries" href={~p"/entries/view"} />
    <WspomWeb.CardComponent.link_card name="1992" info="x entries" href={~p"/entries/view"} />
    <WspomWeb.CardComponent.link_card name="1993" info="x entries" href={~p"/entries/view"} />
    <WspomWeb.CardComponent.link_card name="1994" info="x entries" href={~p"/entries/view"} />
    <WspomWeb.CardComponent.link_card name="1995" info="x entries" href={~p"/entries/view"} />
    <WspomWeb.CardComponent.link_card name="1996" info="x entries" href={~p"/entries/view"} />
  </ul>
  <p class="px-2 text-xs leading-2 m-8">
    Something goes here
  </p>
</section>